<% include  partials/header.ejs %>

<% include  partials/main_nav.ejs %>

<!-- Body section-->
<center>
<h1 class="display-4">  <img src="/Assets/images/Logo.png" width="125" height="125"> <%= message %> <%= error.status %> </h1>
<hr class="my-4">
</center>

<% include  partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>

