<% include  partials/header.ejs %>

<% include  partials/main_nav.ejs %>

<!-- Body section-->
<center>
  <main class="container" style="width :800px">
    <div class="jumbotron">

      <h1 class="display-4"> <img src="/Assets/images/Logo.png" width="125" height="125">My Projects</h1>
      <hr class="my-4">
      <p class="lead">
      </p>
    </div>


    <div class="card" style="width:60%">

      <img src="/Assets/images/Sql_Project_Code.png" style="width: 80%; margin: auto; margin-top: 5%">
      <div class="card-body">
        <h5 class="card-title">Oracle SQL Database</h5>
        <p class="card-text">A project where conceptualization, diagrams, and final product of a database for a ficticious small business of artists to catalog sales.
            All of these came out in a quality beyond expectations. </p>
      </div>
    </div>
<br>

    <div class="card" style="width:60%">
        <img src="/Assets/images/SRS_Project.png" style="width: 80%; margin: auto; margin-top: 5%">
      <div class="card-body">
        <h5 class="card-title">Software Specification Document</h5>
        <p class="card-text">With a group, me and others created a software specification document which for an app which connects
            Canadians with mental health professionals, give them the ability to rate their experiences with them, and allows them to track their mood over time.</p>
      </div>
    </div>
    <br>

    <div class="card" style="width:60%">
      <img src="/Assets/images/Photo_Gallery_Project.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Image Gallery</h5>
        <p class="card-text">Created a gallery program with C# WinForms to display a city, a picture of the city, and information about the city. All with a framework for easily adding more into the gallery.</p>
      </div>
    </div>

      <br>
      <br>
    <br>
      <br>
      <br>

  </main>
</center>

<% include  partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>