<% include  partials/header.ejs %>

<% include  partials/main_nav.ejs %>

<!-- Body section-->
<center>
<main class="container" style="width :800px">
  <div class="jumbotron">

    <h1 class="display-4"> <img src="/Assets/images/Logo.png" width="125" height="125"> Home Page</h1>
    <hr class="my-4">

    <div class="card" style=";">
      <div class="card-body">
        <p class="lead">  Hello, my name is Calum Bashow. It is my goal to thrive in the technological environment and grapple with emerging technologies
          to better myself and those around me by adapting to an ever-changing world. If you'd like to get to know more about me, take a look at my <a href="/about">About Me Page</a> </p>
      </div>
    </div>
  </div>
</main>
</center>


<% include  partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>