<% include  partials/header.ejs %>

<% include  partials/main_nav.ejs %>

<!-- Body section-->
<center>
  <main class="container" style="width :800px">
    <div class="jumbotron">


      <h1 class="display-4"> <img src="/Assets/images/Logo.png" width="125" height="125">My Services</h1>
      <hr class="my-4">
      <p class="lead">


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Programming Tutoring</h5>
            <hr class="my-2">
            <p class="card-text">I offer programming tutoring in various languages such as C#, CSS, Java, Javascript, and SQL to help you reach your goals as an aspiring coder!.</p>
          </div>
      </div>
      <br>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <hr class="my-2">
              <p class="card-text">I offer web development using HTML, Javascript, CSS, and JQuery complimented
                by Node.js and Express.js to fit your needs as a potential customer.</p>
            </div>
          </div>
      <br>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Database Creation</h5>
          <hr class="my-2">
          <p class="card-text">Are you looking for a database to be created? I can work with you to create exactly the product you want.</p>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">General coding</h5>
          <hr class="my-2">
          <p class="card-text">I also offer general coding in C# and Java.</p>
        </div>
      </div>
      </p>
    </div>
  </main>
</center>

<br>
<br>
<br>
<br>
<br>
<% include  partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>