<% include  partials/header.ejs %>

<% include  partials/main_nav.ejs %>

<!-- Body section-->
<center>
<main class="container" style="width :800px">
  <div class="jumbotron">

    <h1 class="display-4"> <img src="/Assets/images/Logo.png" width="125" height="125">About Me</h1>
    <hr class="my-4">

    <div class="card" style=";">
      <div class="card-body">
        <p class="lead">My name is Calum Bashow, and I'm a second year student at Centennial College. I live in the beautiful province of Nova Scotia.
        I have a passion for solving puzzles, which is why I got into programming initially, and am always looking for new challenges to overcome. </p>
        <br>
        <br>

        <img src="/Assets/images/Face_Shot.png" style="width: 50%; margin: auto; margin-top: 1%">
        <br>
        <br>
       <u> <a href="/Assets/Calum_Bashow_Resume.pdf"> Check out my resume here </a></u> </p>
        <br>
      </div>
      </div>
  </div>
</main>
</center>
<% include  partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>

